Repository bluepa/bluepa-rental, pull requests merged in 2021-03, with the labels that each got.

#2 [Docs] Add PR Template
  .github/ISSUE_TEMPLATE/be-issue.md
Labels: common

#5 [FE] 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/fe-issue.md
Labels: frontend

#9 [BE] Dockerizing
  backend/Dockerfile
Labels: backend

#13 [BE] MySQL 환경 설정
  backend/src/main/resources/application.yml
Labels: backend

#12 [BE] feat: 테스팅 환경을 위한 docker-compose 추가
  .gitignore
  backend/docker-compose.yaml
Labels: backend

#21 [BE] feat: docker-compose 옵션 수정
  backend/docker-compose.yaml
Labels: backend

#23 [BE] 이메일 회원가입 및 로그인 API 제작
  backend/build.gradle
  backend/src/main/java/com/bluepa/backend/global/exception/AlreadyExistingEntityException.java
  backend/src/main/java/com/bluepa/backend/global/exception/DifferentCodeException.java
  backend/src/main/java/com/bluepa/backend/global/exception/NotAuthenticatedEmailException.java
  backend/src/main/java/com/bluepa/backend/global/exception/NotFoundEntityException.java
  backend/src/main/java/com/bluepa/backend/global/exception/NotMatchedPasswordException.java
  backend/src/main/java/com/bluepa/backend/global/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/bluepa/backend/global/security/JwtProperties.java
  backend/src/main/java/com/bluepa/backend/global/security/JwtProvider.java
  backend/src/main/java/com/bluepa/backend/global/security/SecurityConfig.java
  backend/src/main/java/com/bluepa/backend/user/controller/AuthController.java
  backend/src/main/java/com/bluepa/backend/user/domain/EmailAuth.java
  backend/src/main/java/com/bluepa/backend/user/domain/User.java
  backend/src/main/java/com/bluepa/backend/user/dto/EmailRequest.java
  backend/src/main/java/com/bluepa/backend/user/dto/SignInRequest.java
  backend/src/main/java/com/bluepa/backend/user/dto/SignUpRequest.java
  backend/src/main/java/com/bluepa/backend/user/repository/EmailAuthRepository.java
  backend/src/main/java/com/bluepa/backend/user/repository/EmailAuthRepositoryImpl.java
  backend/src/main/java/com/bluepa/backend/user/repository/UserRepository.java
  backend/src/main/java/com/bluepa/backend/user/service/CustomUserDetailsService.java
  backend/src/main/java/com/bluepa/backend/user/service/UserService.java
  backend/src/main/java/com/bluepa/backend/user/service/UserServiceImpl.java
  backend/src/main/resources/META-INF/spring-configuration-metadata.json
  backend/src/main/resources/application.yml
  backend/src/test/java/com/bluepa/backend/BackendApplicationTests.java
  backend/src/test/java/com/bluepa/backend/user/service/UserServiceTest.java
Labels: backend

#26 [FE] React init
  .github/ISSUE_TEMPLATE/fe-issue.md
  frontend/.buckconfig
  frontend/.eslintrc.js
  frontend/.flowconfig
  frontend/.gitattributes
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/.watchmanconfig
  frontend/App.js
  frontend/__tests__/App-test.js
  frontend/_editorconfig
  frontend/android/app/BUCK
  frontend/android/app/build.gradle
  frontend/android/app/build_defs.bzl
  frontend/android/app/debug.keystore
  frontend/android/app/proguard-rules.pro
  frontend/android/app/src/debug/AndroidManifest.xml
  frontend/android/app/src/debug/java/com/frontend/ReactNativeFlipper.java
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/android/app/src/main/java/com/frontend/MainActivity.java
  frontend/android/app/src/main/java/com/frontend/MainApplication.java
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/values/strings.xml
  frontend/android/app/src/main/res/values/styles.xml
  frontend/android/build.gradle
  frontend/android/gradle.properties
  frontend/android/gradle/wrapper/gradle-wrapper.jar
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/android/gradlew
  frontend/android/gradlew.bat
  frontend/android/settings.gradle
  frontend/app.json
  frontend/babel.config.js
  frontend/index.js
  frontend/ios/Podfile
  frontend/ios/frontend.xcodeproj/project.pbxproj
  frontend/ios/frontend.xcodeproj/xcshareddata/xcschemes/frontend.xcscheme
  frontend/ios/frontend/AppDelegate.h
  frontend/ios/frontend/AppDelegate.m
  frontend/ios/frontend/Images.xcassets/AppIcon.appiconset/Contents.json
  frontend/ios/frontend/Images.xcassets/Contents.json
  frontend/ios/frontend/Info.plist
  frontend/ios/frontend/LaunchScreen.storyboard
  frontend/ios/frontend/main.m
  frontend/ios/frontendTests/Info.plist
  frontend/ios/frontendTests/frontendTests.m
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#39 [Common] docs: add readme
  README.md
Labels: common

#37 [BE] feat: use mock
  backend/src/test/java/com/bluepa/backend/post/service/PostServiceTest.java
Labels: backend

#41 [BE] feat: dynamic index
  backend/src/main/java/com/bluepa/backend/post/config/PostIndexNameConfig.java
  backend/src/main/java/com/bluepa/backend/post/domain/Post.java
  backend/src/main/java/com/bluepa/backend/post/service/PostService.java
Labels: backend

#48 [BE] 소셜 로그인
  backend/src/main/java/com/bluepa/backend/global/IndexController.java
  backend/src/main/java/com/bluepa/backend/global/security/config/SecurityConfig.java
  backend/src/main/java/com/bluepa/backend/global/security/dto/OAuthAttributes.java
  backend/src/main/java/com/bluepa/backend/global/security/service/CustomOAuth2UserService.java
  backend/src/main/java/com/bluepa/backend/user/controller/AuthController.java
  backend/src/main/java/com/bluepa/backend/user/controller/OAuth2Controller.java
  backend/src/main/java/com/bluepa/backend/user/domain/User.java
  backend/src/main/java/com/bluepa/backend/user/service/UserService.java
  backend/src/main/java/com/bluepa/backend/user/service/UserServiceImpl.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/bluepa/backend/user/service/UserServiceTest.java
Labels: backend

#54 [BE] Mockito를 BDDMockito로 변경
  backend/src/test/java/com/bluepa/backend/post/service/PostServiceTest.java
  backend/src/test/java/com/bluepa/backend/user/service/UserServiceTest.java
Labels: backend
